<html>
  <body>
  <p>Greetings,</p>

  <p>
    <%= @presenter.inviter %> has invited you to share budgets. Simply follow
    <a href="<%= raw @presenter.invitation_link %>">this link</a> to accept their 
    invitation and join your accounts.
  </p>

  <p>
    Sharing a budget allows you to view each other's transactions and edit categories. 
    It's like a joint bank account, but without money.
  </p>

  <p>Happy budgeting,</p>
  <p>The Dollars Team</p>
  </body>
</html>
